{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 100,
  "bracketSpacing": false,

  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@(core|modules)", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
