{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"endOfLine": "lf",
	"printWidth": 120,
	"bracketSpacing": false,
	"arrowParens": "always",
	"importOrderParserPlugins": ["typescript", "decorators-legacy"],
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": ["<THIRD_PARTY_MODULES>", "^@(core|modules)", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
